<i><h1>aweonao</h1></i>
 <BODY BGCOLOR="#EFFBFB">
<% [1,2,3,4,5,6].each do |number| %>
<p>Números: <%= number*(3+2) %></p>
<%end%>
<i><big><p> Ingreso </p></big></i>
<sub><small><p> Ingreso </p></small></sub>
<INS DATETIME=":::"></INS>
